<a href="https://colab.research.google.com/github/git933/Kaggle_ML/blob/main/5_loops_and_list_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# loops

In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
  print(planet, end = ' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [2]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
  product = product * mult

product

360

In [4]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''

for char in s:
  if char.isupper():
    print(char, end = '')

HELLO

**range**

In [5]:
for i in range(5):
  print("Doing important work. i = ", i)

Doing important work. i =  0
Doing important work. i =  1
Doing important work. i =  2
Doing important work. i =  3
Doing important work. i =  4

**while loops**

In [6]:
i = 0
while i < 10:
  print(i, end = ' ')
  i += 1

0 1 2 3 4 5 6 7 8 9



---

# list comprehensions

In [7]:
squares = [n ** 2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
squares = []
for n in range(10):
  squares.append(n ** 2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [10]:
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [11]:
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

In [12]:
def count_negatives(nums):
  """
  return the number of negative numbers in the given list.
  >>> count_negatives([5, -1, -2, 0, 3])
  2
  """
  n_negative = 0
  for num in nums:
    if num < 0:
      n_negative = n_negative + 1
  return n_negative

In [13]:
def count_negatives(nums):
  return len([num for num in nums if num < 0])

In [14]:
def count_negatives(nums):
  return sum([num < 0 for num in nums])



---

# exercise

1

In [15]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    for num in nums:
        if num % 7 == 0:
            return True
    return False

**return** causes a function to exit immediately

In [17]:
def has_lucky_number(nums):
    return any([num % 7 == 0 for num in nums])

In [16]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

2

In [18]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    li = []
    for i in L:
        li.append(i > thresh)
    return li

In [19]:
def elementwise_greater_than(L, thresh):
    return [ele > thresh for ele in L]

3

In [20]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    for i in range(len(meals) - 1):
        if meals[i] == meals [i + 1]:
            return True
    return False